/**
 * @file
 * Styles for entity jump menu toolbar tab.
 */

/* Tab appearance. */
.toolbar .toolbar-bar .entity-jump-menu-toolbar-tab.toolbar-tab {
  margin: 8px 8px 0 0;
  float: right; /* LTR */
}

/* Tab alignment for seven.theme */
.toolbar .toolbar-bar .entity-jump-menu-toolbar-tab.toolbar-tab .entity-jump-menu-form.seven {
  margin: -8px 8px 0 0;
}

[dir="rtl"] .toolbar .toolbar-bar .entity-jump-menu-toolbar-tab.toolbar-tab {
  float: left;
}

.toolbar .toolbar-bar .entity-jump-menu-toolbar-tab.toolbar-tab .container-inline {
  padding-top: 0;
}

/* Make sure select menu and input are the same font-size. */
.entity-jump-menu-toolbar-tab select,
.entity-jump-menu-toolbar-tab input {
  color: #000;
  font-size: 12px;
}

/* Make sure select menu and input are the same height. - Webkit only */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .entity-jump-menu-toolbar-tab select,
  .entity-jump-menu-toolbar-tab input {
    height: 22px;
  }
}
